*{
    box-sizing: border-box;
}
.tile {
    width: var(--tile_size);
    height: var(--tile_size);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.wall {
    background: url('/assets/wall.png');
}

.floor {
    background: url('/assets/floor.png');
}

.grid-layout {
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--map_size), auto);
    grid-template-rows: repeat(var(--map_size), auto);
}

.wrapper {
    display: flex;
    justify-content: center;
    /*background-color: green;
    z-index: 1; */

    /* Add background to the page */
    background-size: cover;
    height: 100%;
    background-image: url('https://img.wallpapersafari.com/desktop/1600/900/90/68/UVQh3n.jpg');
    
}

#title{
    font-size: 40px;
    color: rgb(236, 6, 18);
    background-color: rgba(0, 0, 0, 0.95);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 15px;
    border-width: 10px;
    margin: 0;
}



#pageBorder{
    border: 8px solid black;
    border-radius: 10px;
}

.shadow-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.sprite {
    image-rendering: crisp-edges;
}

#player {
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url('/assets/main-character.png');
    background-size: cover;
    transition: 300ms;
}

#coin {
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url('/assets/silvercoin.png');
    background-size: cover;
}

#saintSkull {
    position: absolute;
    left: calc(6 * 32px);
    top: calc(3 * 32px);
    width: 32px;
    height: 32px;
    background-image: url('/assets/RaisedSaint.png');
    background-size: cover;
}