*{
    box-sizing: border-box;
}
.tile {
    float: left;
    width: var(--tile_size);
    height: var(--tile_size);
    background-size: 100% 100%;


}

.sprite {
    background-repeat: no-repeat;
}

.wall {
    background: url('/assets/wall.png');
    background-position: -224px -160px;
}

.floor {
    background: url('/assets/floor.png');
    background-position: -32px -32px;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(var(--map_size), auto);
    justify-content: center;
}