*{
    box-sizing: border-box;
}
.tile {
    width: var(--tile_size);
    height: var(--tile_size);
    background-size: 100% 100%;
}

.sprite {
    background-repeat: no-repeat;
}

.wall {
    background: url('/assets/wall.png');
}

.floor {
    background: url('/assets/floor.png');
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(var(--map_size), auto);
    grid-template-rows: repeat(var(--map_size), auto);
}

.wrapper {
    display: flex;
    justify-content: center;
}